{:op-acc-id "mycompany.1password.com"
 :github {:org "test"
          ;; read from default account e.g. the personal one
          :pat #op/secret {:account #ref [:op-acc-id]
                           :path "op://Private/github/test"}

          :repo #op/secret {:account #ref [:op-acc-id]
                            :path "op://Private/github/test/repo"}}

 :aws {:access-key-id #op/secret {:account #ref [:op-acc-id]
                                  :path "op://Employee/aws/test/access-key-id"}
       :secret-access-key #op/secret {:account #ref [:op-acc-id]
                                      :path "op://Employee/aws/test/secrets-access-key"}}

 :personal {:token #op/secret "op://Private/personal/token"
            :email #op/secret {:account "my.1password.com"
                               :path "op://Private/personal/email"}}}
